.homePage {
  color: #003366;
  display: flex;
  flex-direction: column;

  .errors {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: red;
    margin: 10%;
  }

  .homeHeader {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2% 2% 10% 2%;
    position: relative;

    .message {
      margin-left: 2%;

      .datePickerWrapper {
        position: relative;
        display: inline-block;

        .date {
          width: 100%;
          padding: 7% 30%;
          margin: 3%;
          background: rgba($color: #fff, $alpha: 0.3);
          border: none;
        }
        .dateRangeOverlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          text-align: center;
          padding: 7% 30%;
          margin: 3%;
          background: rgba($color: #fff, $alpha: 0.3);
          pointer-events: none;
          white-space: nowrap;
        }
      }
    }
  }

  .cardSection {
    position: absolute;
    width: 100%;
    top: 55%;
    display: flex;
    justify-content: space-evenly;

    .cardItem {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      background-color: #f5f5dc;
      padding: 2% 4%;
      flex: 1;
      margin: 0 2%;
      max-width: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        width: 10%;
        height: fit-content;
      }
    }
  }

  .progress {
    position: relative;
    margin-top: 20%;

    p {
      font-size: larger;
      font-weight: bolder;
      color: red;
      margin: 3%;
      text-align: center;
    }

    .dateRangeOverlay {
      text-align: center;
      color: #003366;
      pointer-events: none;
      white-space: nowrap;
      font-size: large;
      font-weight: bold;
    }

    .charts {
      display: flex;
      flex-direction: row;
      gap: 10%;
      margin: 5%;

      .bar {
        flex-basis: 60%;
        height: 400px;
      }
      .pie {
        flex-basis: 20%;
        height: 400px;
      }
    }
  }
}
