.table {
  margin: 1%;

  .errors {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: red;
    margin: 10%;
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 15px;

    .edit {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.597);
      cursor: pointer;
    }
    .delete {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
}
